In [1]:
import pandas as pd

In [2]:
student_info= pd.read_csv("studentInfo.csv")
courses = pd.read_csv("courses.csv")
studentAssessment=pd.read_csv("studentAssessment.csv")
assessments =pd.read_csv("assessments.csv")
studentRegistration = pd.read_csv("studentRegistration.csv")
student_Vle = pd.read_csv("studentVle.csv")
vle = pd.read_csv("vle.csv")

In [3]:
C_A=pd.merge(courses, assessments)
C_A_Sa = pd.merge(C_A, studentAssessment)
C_A_Sa_Si = pd.merge(C_A_Sa, student_info)

In [4]:
C_A_Sa_Si_V = pd.merge(C_A_Sa_Si, vle)
C_A_Sa_Si_V

,code_module,code_presentation,module_presentation_length,id_assessment,assessment_type,date,weight,id_student,date_submitted,is_banked,...,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,id_site,activity_type,week_from,week_to
0,AAA,2013J,268,1752,TMA,19.0,10.0,11391,18,0,...,90-100%,55<=,0,240,N,Pass,546943,resource,NaN,NaN
1,AAA,2013J,268,1752,TMA,19.0,10.0,11391,18,0,...,90-100%,55<=,0,240,N,Pass,546712,oucontent,NaN,NaN
2,AAA,2013J,268,1752,TMA,19.0,10.0,11391,18,0,...,90-100%,55<=,0,240,N,Pass,546998,resource,NaN,NaN
3,AAA,2013J,268,1752,TMA,19.0,10.0,11391,18,0,...,90-100%,55<=,0,240,N,Pass,546888,url,NaN,NaN
4,AAA,2013J,268,1752,TMA,19.0,10.0,11391,18,0,...,90-100%,55<=,0,240,N,Pass,547035,resource,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60310879,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,20-30%,35-55,0,30,N,Fail,798802,resource,NaN,NaN
60310880,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,20-30%,35-55,0,30,N,Fail,798620,forumng,NaN,NaN
60310881,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,20-30%,35-55,0,30,N,Fail,798688,oucontent,NaN,NaN
60310882,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,20-30%,35-55,0,30,N,Fail,798760,resource,NaN,NaN
60310883,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,20-30%,35-55,0,30,N,Fail,798797,resource,NaN,NaN

In [5]:
C_A_Sa_Si_V_Sv = pd.merge(C_A_Sa_Si_V, student_Vle)

In [6]:
All = pd.merge(C_A_Sa_Si_V_Sv, studentRegistration)

In [12]:
All.loc[All['score'] >= 51 , 'final_result'] = 'Pass'
All.loc[All['score'] < 51, 'final_result'] = 'Fail'

In [13]:
All.loc[All['score'] < 51, 'ECTS'] = 'F'
All.loc[(All['score'] >= 51) & (All['score'] <= 60), 'ECTS'] = 'E'
All.loc[(All['score'] >= 61) & (All['score'] <= 70), 'ECTS'] = 'D'
All.loc[(All['score'] >= 71) & (All['score'] <= 80), 'ECTS'] = 'C'
All.loc[(All['score'] >= 81) & (All['score'] < 90), 'ECTS'] = 'B'
All.loc[All['score'] >= 90, 'ECTS'] = 'A'

In [14]:
All

,code_module,code_presentation,module_presentation_length,id_assessment,assessment_type,date,weight,id_student,date_submitted,is_banked,...,disability,final_result,id_site,activity_type,week_from,week_to,sum_click,date_registration,date_unregistration,ECTS
0,AAA,2013J,268,1753,TMA,54.0,20.0,11391,53,0,...,N,Pass,546614,homepage,NaN,NaN,1,-159.0,NaN,B
1,AAA,2013J,268,1753,TMA,54.0,20.0,31604,51,0,...,N,Pass,546614,homepage,NaN,NaN,1,-52.0,NaN,C
2,AAA,2013J,268,1753,TMA,54.0,20.0,31604,51,0,...,N,Pass,546654,forumng,NaN,NaN,2,-52.0,NaN,C
3,AAA,2013J,268,1753,TMA,54.0,20.0,31604,51,0,...,N,Pass,546654,forumng,NaN,NaN,2,-52.0,NaN,C
4,AAA,2013J,268,1754,TMA,117.0,20.0,31604,115,0,...,N,Pass,546614,homepage,NaN,NaN,1,-52.0,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613957,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,N,Pass,798670,oucontent,NaN,NaN,1,-71.0,NaN,E
613958,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,N,Pass,798670,oucontent,NaN,NaN,1,-71.0,NaN,E
613959,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,N,Pass,798635,quiz,NaN,NaN,1,-71.0,NaN,E
613960,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,N,Pass,798622,homepage,NaN,NaN,1,-71.0,NaN,E
613961,GGG,2014B,241,37426,TMA,117.0,0.0,614233,117,0,...,N,Pass,798831,subpage,NaN,NaN,1,-71.0,NaN,E

In [15]:
export_csv = All.to_csv(r'C:\Users\user\Documents\ML_Studing\anonymisedData\students_data.csv', index = None, header=True)

In [11]:
data = pd.read_csv("students_data.csv")

In [11]:
data["assessment_type"]

0         TMA
1         TMA
2         TMA
3         TMA
4         TMA
         ...
613957    TMA
613958    TMA
613959    TMA
613960    TMA
613961    TMA
Name: assessment_type, Length: 613962, dtype: object

In [23]:
dataset = pd.read_csv('students_data.csv')
dataset = pd.DataFrame({"final_result" : dataset["final_result"], "score": dataset["score"]  })
dataset.loc[(dataset['score'] == 50) & (dataset['final_result'] == 'Pass') , 'name_match'] = 'Match'
dataset.loc[(dataset['score'] < 50) & (dataset['final_result'] == 'Pass') , 'name_match'] = 'MisMatch'

In [26]:
dataset['score'].dropna()

0         85.0
1         71.0
2         71.0
3         71.0
4         74.0
          ...
613957    60.0
613958    60.0
613959    60.0
613960    60.0
613961    60.0
Name: score, Length: 613648, dtype: float64

In [21]:
dataset.loc[dataset['score'] > 50 , 'final_result'] = 'Pass'
dataset.loc[dataset['score'] < 51, 'final_result'] = 'Fail'

In [29]:
dataset.dropna()

Empty DataFrame
Columns: [final_result, score, name_match]
Index: []

In [24]:
dataset.loc[(dataset['score'] > 50) & (dataset['final_result'] == 'Pass') , 'name_match'] = 'Match'
dataset.loc[(dataset['score'] < 51) & (dataset['final_result'] == 'Pass') , 'name_match'] = 'MisMatch'
dataset.head(20)

   final_result  score name_match
0          Pass   85.0      Match
1          Pass   71.0      Match
2          Pass   71.0      Match
3          Pass   71.0      Match
4          Pass   74.0      Match
5          Pass   74.0      Match
6          Pass   88.0      Match
7          Pass   88.0      Match
8          Pass   88.0      Match
9          Pass   88.0      Match
10         Pass   88.0      Match
11         Pass   88.0      Match
12         Pass   69.0      Match
13         Pass   69.0      Match
14         Fail   35.0   MisMatch
15         Fail   35.0   MisMatch
16         Fail   35.0   MisMatch
17         Fail   35.0   MisMatch
18         Fail   35.0   MisMatch
19         Pass   79.0      Match

In [17]:
All['final_result']=='Withdrawn'

0         False
1         False
2         False
3         False
4         False
          ...
613957    False
613958    False
613959    False
613960    False
613961    False
Name: final_result, Length: 613962, dtype: bool

In [19]:
withdr = All[All.eq('Withdrawn').any(1)]

In [21]:
withdr["score"]
withdr.dropna()

Empty DataFrame
Columns: [code_module, code_presentation, module_presentation_length, id_assessment, assessment_type, date, weight, id_student, date_submitted, is_banked, score, gender, region, highest_education, imd_band, age_band, num_of_prev_attempts, studied_credits, disability, final_result, id_site, activity_type, week_from, week_to, sum_click, date_registration, date_unregistration, ECTS]
Index: []

[0 rows x 28 columns]

In [22]:
All.dropna()

,code_module,code_presentation,module_presentation_length,id_assessment,assessment_type,date,weight,id_student,date_submitted,is_banked,...,disability,final_result,id_site,activity_type,week_from,week_to,sum_click,date_registration,date_unregistration,ECTS
824,AAA,2013J,268,1752,TMA,19.0,10.0,155984,19,0,...,N,Pass,546732,oucontent,2.0,2.0,14,-64.0,191.0,B
846,AAA,2013J,268,1753,TMA,54.0,20.0,159954,61,0,...,N,Pass,546719,oucontent,1.0,1.0,6,-46.0,123.0,D
847,AAA,2013J,268,1753,TMA,54.0,20.0,159954,61,0,...,N,Pass,546681,oucontent,1.0,1.0,8,-46.0,123.0,D
1219,AAA,2013J,268,1752,TMA,19.0,10.0,188278,19,0,...,N,Pass,546732,oucontent,2.0,2.0,2,-57.0,60.0,C
2147,AAA,2013J,268,1752,TMA,19.0,10.0,342007,20,0,...,N,Pass,546719,oucontent,1.0,1.0,6,-71.0,51.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589509,FFF,2014B,241,34890,TMA,171.0,25.0,484675,171,0,...,Y,Fail,779746,url,18.0,18.0,2,10.0,198.0,F
589590,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,N,Pass,779623,subpage,2.0,2.0,1,-93.0,97.0,C
589596,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,N,Pass,779675,subpage,1.0,1.0,1,-93.0,97.0,C
589599,FFF,2014B,241,34886,TMA,24.0,12.5,540909,24,0,...,N,Pass,779379,oucontent,1.0,1.0,3,-93.0,97.0,C
589618,FFF,2014B,241,34887,TMA,52.0,12.5,553032,51,0,...,N,Pass,779349,oucontent,3.0,3.0,1,-34.0,136.0,C